@model IEnumerable<taskapp.Models.TaskItem>

@{
    ViewData["Title"] = "Index";
}


<div class="text-center">
    <h2 class="display-4">My Tasks</h2>
</div>

<hr />
<table class="table table-borderless">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <b>@Html.DisplayFor(modelItem => item.Title)</b>
                </td>
                <td class="text-center">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="text-right">
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-right">
    <a asp-action="Create" class="btn btn-outline-dark">Create New Task</a>
</div>
